<div>LISTA CLIENTES</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th>Cedula</th>
            <th>Nombres</th>                                                            
            <th>Teléfono</th>
             <th>Dirección</th>
             <th>Nombre del curso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of  clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>estudiante.nombre</td>
            <td>estudiante.telefono</td>
            <td>estudiante.direccion</td>
            <td>estudiante.nombre_curso</td>
            <td>
                <a mat-icon-button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a class="delete" title="Delet" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                
            </td>
        </tr>
        
    </tbody>
</table>

