<div>LISTA CLIENTES</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th>Cedula</th>
            <th>Nombres</th>                                                            
            <th>Teléfono</th>
             <th>Dirección</th>
             <th>Nombre del curso</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of  clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>cliente.nombre</td>
            <td>cliente.telefono</td>
            <td>cliente.direccion</td>
            <td>cliente.nombre_curso</td>
            <td>
                <button type="button" name="button" class="btn btn-primary" [routerLink]="['/clientes/form',cliente.id]">Editar</button>
                <button class="btn btn-danger" (click)="delete(cliente)">Eliminar</button>
                
            </td>
        </tr>
        
    </tbody>
</table>

