<div>LISTA CLIENTES</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr class="text-center">
            <th>Cedula</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Nombre del curso</th>
            <th>Teléfono</th>
             <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>01010231569</td>
            <td>Juan</td>
            <td>Espinoza</td>
            <td>Microsoft Excel</td>
            <th>0987642123</th>
            <td>Batan</td>
            <td>
                <a mat-icon-button class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                <a class="delete" title="Delet" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                
            </td>
        </tr>
        
    </tbody>
</table>

