
<mat-card>
  <mat-card-title>
    <div>
      CREAR CLIENTE

    </div>
    <br>
  </mat-card-title>
  <div class="container-fluid">
   
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="cedula">Cédula:</label>
          <input  type="text" class="form-control" id="cedula"
                  formControlName="cedula" placeholder="Cédula">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="primernombre">Primer Nombre:</label>
          <input  type="text" class="form-control" id="primerNombre"
                  formControlName="primerNombre" placeholder="Primer Nombre">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="segundoNombre">Segundo Nombre:</label>
          <input  type="text" class="form-control" id="segundoNombre"
                  formControlName="segundoNombre" placeholder="Segundo Nombre">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="primerApellido">Primer Apellido:</label>
          <input type="text" class="form-control" id="primerApellido"
                 formControlName="primerApellido" placeholder="Primer Apellido">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="segundoApellido">Segundo Apellido:</label>
          <input  type="text" class="form-control" id="segundoApellido"
                  formControlName="segundoApellido" placeholder="Segundo Apellido">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="fechaNac">Nombre del Curso</label>
          <input type="text" class="form-control" id="Curso" formControlName="curso"
                 placeholder="Ingrese el nombre del curso">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion"
                 placeholder="Ingrese la dirección">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="telefono">Telefono:</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono"
                 placeholder="123456789">
        </div>
        <br>
      </div>
      <br>
      
        <button mat-raised-button color="primary" class="btn" >GUARDAR CLIENTE</button>
        <br>
    <br>
        <button mat-raised-button color="primary" class="btn" routerLink="/lista-cliente">LISTA</button>
    <div>
      <app-root></app-root>
    </div>
