
<mat-card>
  <mat-card-title>
    <div>
      CREAR CLIENTE

    </div>
    <br>
    <form></form>
  </mat-card-title>
  <div class="container-fluid">
   
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="id">Cédula:</label>
          <input  type="text" class="form-control" id="cedula"
                  formControlName="cedula" placeholder="Cédula" [(ngModel)]="cliente.id">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="nombre">Nombre :</label>
          <input  type="text" class="form-control" id="Nombre"
                  formControlName="Nombre" placeholder="Nombre"[(ngModel)]="cliente.nombre">
        </div>
        <br>
        
        <div class="form-group col-md-3">
          <label for="apellido"> Apellido:</label>
          <input type="text" class="form-control" id="Apellido"
                 formControlName="Apellido" placeholder="Apellido" [(ngModel)]="cliente.apellido">
        </div>
       
        <br>
        <div class="form-group col-md-3">
          <label for="nombre_curso">Nombre del Curso</label>
          <input type="text" class="form-control" id="Curso" formControlName="curso"
                 placeholder="Ingrese el nombre del curso" [(ngModel)]="cliente.nombre_curso">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="direccion">Dirección:</label>
          <input type="text" class="form-control" id="direccion" formControlName="direccion"
                 placeholder="Ingrese la dirección" [(ngModel)]="cliente.direccion">
        </div>
        <br>
        <div class="form-group col-md-3">
          <label for="telefono">Telefono:</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono"
                 placeholder="123456789" [(ngModel)]="cliente.telefono">
        </div>
      
        <br>
      </div>
      <br>
      
        <button mat-raised-button color="primary" class="btn" (click)='create()' *ngIf="!cliente.id else elseBlock">GUARDAR CLIENTE</button>
        <br>
        <ng-template #elseBlock> 
        <button mat-raised-button color="primary" class="btn" (click)='update()'>ACTUALIZAR</button>
        <br>
      </ng-template>
    <br>
        <button mat-raised-button color="primary" class="btn" routerLink="/lista-cliente">LISTA</button>
    <div>
      <app-root></app-root>
    </div>
