
   nav{
    display:inline-block;
    margin:60px auto 45px;
    background-color:rgb(219, 219, 243);
    font-size: large;
    box-shadow:0 1px 1px rgb(255, 250, 250);
    border-radius:5px;
   }
   
   